@{
    ViewBag.Title = "Home Page";
}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12">
            <h1 class="display-1 p-4 m-2 bg-secondary text-light rounded">Welcome to Musical-Recipies</h1>
        </div>
    </div>
    <div class="row container my-5 py-2">
        <div class="col-md-2">
            <div class="btn btn-primary">@Html.ActionLink("Recipes List", "List", "Recipe", new { area = "" }, new { @class = "nav-link" })</div>
        </div>
        <div class="col-md-2">
            <div class="btn btn-primary">@Html.ActionLink("Ingredients List", "List", "Ingredient", new { area = "" }, new { @class = "nav-link" })</div>
        </div>
        <div class="col-md-2">
            <div class="btn btn-primary">@Html.ActionLink("Instructions List", "List", "Instruction", new { area = "" }, new { @class = "nav-link" })</div>
        </div>
        <div class="col-md-2">
            <div class="btn btn-primary">@Html.ActionLink("Academy List", "List", "Academy", new { area = "" }, new { @class = "nav-link" })</div>
        </div>
        <div class="col-md-2">
            <div class="btn btn-primary">@Html.ActionLink("Instructor List", "List", "Instructor", new { area = "" }, new { @class = "nav-link" })</div>
        </div>
        <div class="col-md-2">
            <div class="btn btn-primary">@Html.ActionLink("Lesson List", "List", "Lesson", new { area = "" }, new { @class = "nav-link" })</div>
        </div>
    </div>
    <div class="row container ">
        <div class="d-flex justify-content-center">
            <div class="">Total Lessons: </div>
            <div class="ps-1">11</div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="">Total Recipes: </div>
            <div class="ps-1">11</div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="">Total Instructors: </div>
            <div class="ps-1">11</div>
        </div>
    </div>
</div>