@model CreativeCollabMusicalRecipes.Models.RecipeDto

@{
    ViewBag.Title = "Edit";
}

@section Scripts {
    <script src="~/Scripts/recipe.js"></script>
}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>Update Recipe</h1>
            <a href="/Recipe/Show/@Model.RecipeId" class="btn btn-primary mt-3">← Back to Recipe Details</a>
        </div>
    </div>
    <form action="/Recipe/Update/@Model.RecipeId" method="post" class="form-horizontal">
        <input type="hidden" name="RecipeId" value="@Model.RecipeId" />
        <div class="form-group row my-2">
            <label for="Title" class="col-md-1 col-form-label fw-bold">Title:</label>
            <div class="col-md-10 col-sm-10">
                <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" />
            </div>
        </div>
        <div class="form-group row my-2">
            <label for="Description" class="col-md-1 col-form-label fw-bold">Description:</label>
            <div class="col-md-10 col-sm-10">
                <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" />
            </div>
        </div>
        <div class="form-group row my-2">
            <label for="Category" class="col-md-1 col-form-label fw-bold">Category:</label>
            <div class="col-md-10 col-sm-10">
                <input type="text" class="form-control" id="Category" name="Category" value="@Model.Category" />
            </div>
        </div>
        <div class="form-group row my-2">
            <label for="CookingTime" class="col-md-1 col-form-label fw-bold">Cooking Time:</label>
            <div class="col-md-10 col-sm-10">
                <input type="number" class="form-control" id="CookingTime" name="CookingTime" value="@Model.CookingTime" />
            </div>
        </div>

        <div class="form-group row my-2 gap-2">
            <div>
                <label class="me-2 fw-bold">Ingredients:</label>
                <button type="button" class="btn btn-primary" id="addIngredient">+</button>
            </div>
            <div class="col-md-10 col-sm-10 ms-md-3 ms-sm-0">
                <div id="ingredientsList">
                    @for (var i = 0; i < Model.Ingredients.Count; i++)
                    {
                        <div class="row mb-2 ingredient-item">
                            <input type="hidden" name="Ingredients[@i].IngredientId" value="@Model.Ingredients[i].IngredientId" />
                            <div class="col d-flex justify-content-center align-items-center gap-2">
                                <label>Name:</label>
                                <input type="text" class="form-control" name="Ingredients[@i].IngredientName" value="@Model.Ingredients[i].IngredientName" />
                            </div>
                            <div class="col d-flex justify-content-center align-items-center gap-2">
                                <label>Quantity:</label>
                                <input type="number" class="form-control" name="Ingredients[@i].IngredientQuantity" value="@Model.Ingredients[i].IngredientQuantity" />
                            </div>
                            <div class="col d-flex justify-content-center align-items-center gap-2">
                                <label>Unit:</label>
                                <input type="text" class="form-control" name="Ingredients[@i].IngredientUnit" value="@Model.Ingredients[i].IngredientUnit" />
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-danger remove-ingredient" id="removeIngredient">-</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="form-group row  my-2 gap-2">
            <div>
                <label class="me-2 fw-bold">Instructions:</label>
                <button type="button" class="btn btn-primary" id="addEditInstruction">+</button>
            </div>
            <div class="col-md-12 col-sm-12 ms-md-3 ms-sm-0">
                <div id="instructionsList">
                    @for (var i = 0; i < Model.Instructions.Count; i++)
                    {
                        <div class="row mb-2 instruction-item">
                            <div class="col-11 d-flex align-items-center gap-2">
                                <input type="hidden" name="Instructions[@i].InstructionId" value="@Model.Instructions[i].InstructionId" />
                                <input type="text" class="form-control" style="width:10%" name="Instructions[@i].StepNumber" value="@Model.Instructions[i].StepNumber" />
                                <input type="text" class="form-control" name="Instructions[@i].Description" value="@Model.Instructions[i].Description" />
                                <button type="button" class="btn btn-danger remove-instruction" id="removeInstruction">-</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col d-flex gap-4 justify-content-center">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/Recipe/Show/@Model.RecipeId" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>
