@model CreativeCollabMusicalRecipes.Models.RecipeDto


@{
    ViewBag.Title = "Show";
}
@section Scripts {
    <script src="~/Scripts/recipe.js"></script>
}
<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>Recipe Details</h1>
            <a href="/Recipe/List" class="btn btn-primary mt-3">← Back to list</a>
            <a href="/Recipe/Edit/@Model.RecipeId" class="btn btn-primary mt-3">+ Edit</a>
            <a href="/Recipe/DeleteConfirm/@Model.RecipeId" class="btn btn-danger mt-3">Delete</a>
            <button id="printRecipe" class="btn btn-secondary mt-3">Print Recipe</button>
        </div>
    </div>
    <div class="row" id="recipe">
        <div class="col-md-12">
            <p><strong>Title:</strong> @Model.Title</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <p><strong>Category:</strong> @Model.Category</p>
            <p><strong>Cooking Time:</strong> @Model.CookingTime mins</p>

            <p class="m-0"><strong>Ingredients:</strong></p>
            <ul>
                @foreach (var ingredient in Model.Ingredients)
                {
                    <li>
                        <a href="/Ingredient/Details/@ingredient.IngredientId">
                            @ingredient.IngredientQuantity @ingredient.IngredientUnit @ingredient.IngredientName
                        </a>
                    </li>
                }
            </ul>

            <p class="m-0"><strong>Instructions:</strong></p>
            <ol>
                @foreach (var instruction in Model.Instructions)
                {
                    <li><a href="/Instruction/Details/@instruction.InstructionId">@instruction.Description</a></li>
                }
            </ol>
            <p class="m-0"><strong>Lessons:</strong></p>
            <ol>
                @foreach (var lesson in Model.Lessons)
                {
                    <li><a href="/Instruction/Details/@lesson.LessonID">@lesson.LessonName</a></li>
                }
            </ol>
        </div>
    </div>
</div>